body {
	display: flex;
	margin: 0;
	padding: 0;
	height: 100vh;
	width: 100%;
	font-family: 'Comic Sans Ms' cursive, sans-serif;
	background-color: #ffeb3b;
	overflow: hidden;
}

.game-area {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding-top: 5px;
	margin-top: 0;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}
	
.culin-game-title {
	text-align: center;
	padding-top: 20px;
	background-color: #ff6f61;
    border-radius: 15px;
	color: #fff;
	font-size: 2em;
}

.culin-game-drop, .culin-game-drag-zoom {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}


.drop-piece-1 {
	width: 300px;
	height: 250px;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	border-radius: 10px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	
}


.drag-piece-1, .drag-piece-2, .drag-piece-3, .drag-piece-4 {
	background-color: #f4a460;
	margin: 0px;
	padding:0px;
	border: 5px;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	transform: scale(1);
	opacity: 1;
	overflow: hidden;
	transition: tranform 0.3s ease-in-out, z-index 0.3s;
}


@media screen and  (max-width: 480px){
	
	#level-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 2rem;
    margin:  4%;
    color: #d35400;
    text-align: center;
	/* For the Level Name of the media */
}


	
	p {
		font-size: 1rem;
		text-align: center;
		justify-content: center;
		/* for the all the texts*/
	}
		
		
	    .game-area {
		width: 1000%;
		max-width:480px;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center-left;
	}	

	.game-area img {
		width: 250px;
		height: 120px;
	}
	

	#container {
	display: flex;
	flex-direction: column;
	height: auto;
    width: 100%;
    max-width: 480px;
	box-sizing: border-box;
}

	img {
		width: 100%;
		height: auto;
	}
	
    .square {
    width: 135px;
    height: 120px;
    display: flex;
}

}
