
.game-area {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding-top: 5px;
	margin-top: 0;
	justify-content: flex-start;
	align-items: center;
	position: relative;
}
	
.culin-game-title {
	text-align: center;
	padding-top: 20px;
	background-color: #ff6f61;
    border-radius: 15px;
	color: #fff;
	font-size: 2em;
}

.culin-game-drop, .culin-game-drag-zoom {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}


.drop-piece-1 {
	width: 300px;
	height: 250px;
	background-color: rgba(255, 255, 255, 0.5);
	display: flex;
	border-radius: 10px;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 10px;
	
}

#culin-game-drag{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.drag-piece-1, .drag-piece-2, .drag-piece-3, .drag-piece-4 {
	background-color: #f4a460;
	margin: 0px;
	padding:0px;
	border: 5px;
	border-radius: 10px;
	cursor: pointer;
	color: #fff;
	transform: scale(1);
	opacity: 1;
	overflow: hidden;
	transition: tranform 0.3s ease-in-out, z-index 0.3s;
	display: inline-block !important;
	vertical-align: top;
}


@media (max-width: 1284px){
    #level-title {
		font-size:2.5rem;
		margin-bottom: 30px;
	}

	
	.game-area {
		display: flex;
		flex-direction: column;

		align-items: center;
	}

	.drop-1 {
		width: 90%;
		max-width: 200px;
		height: auto;
		padding: 10px;
	}

	.drop-1-after {
		background-color: beige;
		width: 100%;
		max-width: 200px;
		padding: 1px;
		border-radius: 5%;
	}

	.square {
		/* display: flex; */
		height: 182px;
		width: 182px;
		flex: 1 1 calc(50%-10%);
		justify-items:center;
		margin: 1px;
	}

	.square img {
		width: 180px;
		height: 180px;
	}

	#culin-game-drag-zoom {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap:3px;
		max-width: 1284px;
	}


	p {
	margin-top: 2px;
	font-size: 1.09rem;
	}

	#funfact{
		color: #11030d;
		font-family: Verdana, sans-serif;
		text-align: center;
		font-size: 1.1rem;
		width: 90%;
		max-width: 660px;
		text-align: justify;
		height: auto;
	}
	#culin-game-drag-zoom img {
		height: 185px;
		width: 185px;
	}
}


@media (max-width: 1024px){
    #level-title {
		font-size:2.3rem;
		margin-bottom: 30px;
	}

	
	.game-area {
		display: flex;
		flex-direction: column;

		align-items: center;
	}

	.drop-1 {
		width: 90%;
		max-width: 200px;
		height: auto;
		padding: 10px;
	}

	.drop-1-after {
		background-color: beige;
		width: 100%;
		max-width: 200px;
		padding: 1px;
		border-radius: 5%;
	}

	.square {
		/* display: flex; */
		height: 150px;
		width: 150px;
		flex: 1 1 calc(50%-10%);
		justify-items:center;
		margin: 2px;
	}

	.square img {
		width: 150px;
		height: 150px;
	}

	#culin-game-drag-zoom {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap:30px;
		max-width: 660px;
	}


	p {
	margin-top: 10px;
	font-size: 1.00rem;
	}

	#funfact{
		color: #11030d;
		font-family: Verdana, sans-serif;
		text-align: center;
		font-size: 1.1rem;
		width: 90%;
		max-width: 600px;
		text-align: justify;
		height: auto;
	}
	#culin-game-drag-zoom img {
		height: 150px;
		width: 150px;
	}
}



@media (max-width: 768px){
    #level-title {
		font-size:1.9rem;
		margin-bottom: 30px;
	}
	
	.game-area {
		display: flex;
		flex-direction: column;

		align-items: center;
	}

	.drop-1 {
		width: 90%;
		max-width: 200px;
		height: auto;
		padding: 10px;
	}

	.drop-1-after {
		background-color: beige;
		width: 100%;
		max-width: 200px;
		padding: 1px;
		border-radius: 5%;
	}

	.square {
		/* display: flex; */
		height: 130px;
		width: 130px;
		flex: 1 1 calc(50%-10%);
		justify-items:center;
		margin: 2px;
	}

	.square img {
		width: 130px;
		height: 130px;
	}

	#culin-game-drag-zoom {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap:30px;
		max-width: 660px;
	}


	p {
	margin-top: 2px;
	font-size: 0.86rem;
	}

	#funfact{
		color: #11030d;
		font-family: Verdana, sans-serif;
		text-align: center;
		font-size: 1.1rem;
		width: 90%;
		max-width: 450px;
		text-align: justify;
		height: auto;
	}
	#culin-game-drag-zoom img {
		height: 150px;
		width: 150px;
	}
}



@media (max-width: 660px){
    #level-title {
		font-size:1.7rem;
		margin-bottom: 30px;
	}

	#container {
       display: flex;
	   flex-direction: column;

	   align-items: center;
	}
	
	.game-area {
		display: flex;
		flex-direction: column;

		align-items: center;
	}

	.drop-1 {
		width: 90%;
		max-width: 200px;
		height: auto;
		padding: 10px;
	}

	.drop-1-after {
		background-color: beige;
		width: 100%;
		max-width: 200px;
		padding: 1px;
		border-radius: 5%;
	}

	.square {
		/* display: flex; */
		height: 100px;
		width: 100px;
		flex: 1 1 calc(50%-10%);
		justify-items:center;
		margin: 2px;
	}

	.square img {
		width: 100px;
		height: 100px;
	}

	#culin-game-drag-zoom {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap:30px;
		max-width: 550px;
	}


	p {
	margin-top: 2px;
	font-size: .68rem;
	}

	#funfact{
		color: #11030d;
		font-family: Verdana, sans-serif;
		text-align: center;
		font-size: 0.8rem;
		width: 90%;
		max-width: 280px;
		text-align: justify;
		height: auto;
	}
	#culin-game-drag-zoom img {
		height: 150px;
		width: 150px;
	}
}



@media (max-width: 480px){
    #level-title {
		font-size:1.5rem;
		margin-bottom: 30px;
	}

	/* #container {
       display: flex;
	   flex-direction: column;

	   align-items: center;
	} */
	
	.game-area {
		display: flex;
		flex-direction: column;

		align-items: center;
	}

	.drop-1 {
		width: 90%;
		max-width: 200px;
		height: auto;
		padding: 10px;
	}

	.drop-1-after {
		background-color: beige;
		width: 100%;
		max-width: 200px;
		padding: 1px;
		border-radius: 5%;
	}

	.square {
		/* display: flex; */
		height: 80px;
		width: 80px;
		flex: 1 1 calc(50%-10%);
		justify-items:center;
		margin: 2px;
	}

	.square img {
		width: 80px;
		height: 80px;
	}

	#culin-game-drag-zoom {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap:30px;
		max-width: 660px;
	}


	p {
	margin-top: 2px;
	font-size: 0.55rem;
	}

	#funfact{
		color: #11030d;
		font-family: Verdana, sans-serif;
		text-align: center;
		font-size: 0.65rem;
		width: 90%;
		max-width: 280px;
		text-align: justify;
		height: auto;
	}
	#culin-game-drag-zoom img {
		height: 100px;
		width: 100px;
	}
}
